:root {
    --fill-color: #F8F8FF;
    --accent-color : #1B1D2B;
    --accent-color-light: #CACBDF;
    --font-color-contrast: #F8F8FF;
    --shadow-color: #CACBDF;
    --border-radius: 32px;
    --green: #00B16F;
    --red: #FD5C5C;
}